.contacts__callbtn {
    color: white;
    background-color: #f9a03e;
    height: 49px;
    width: 176px;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s all ease;;
}

.contacts__callbtn:hover {
    background-color: red;
    color: white;

}
