.description {
    background-color: #2b2933;
    margin: 0;
    padding: 85px 0 0 0;
}

@media screen and (min-width: 760px) and (max-width: 1019px)  {

}

@media screen and (min-width: 1020px) and (max-width: 1919px)  {
    .description {
        display: flex;
    }
}

@media screen and (min-width: 1920px) {
    .description {
        display: flex;
        padding: 109px 0 0 0;
    }
}