.contacts-block__email {
    margin: 20px 0 0 0;
}
.contacts-block__email::before {
    content: '@:';
}

@media screen and (min-width: 760px) and (max-width: 1019px)  {
    .contacts-block__email {
        font-size: 16px;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1919px)  {
    .contacts-block__email {
        font-size: 16px;
    }
}

@media screen and (min-width: 1920px) {
    .contacts-block__email {
        font-size: 16px;
    }
}