.section__title {
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 760px) and (max-width: 1019px)  {
    .section__title {
        font-size: 64px;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1919px)  {
    .section__title {
        font-size: 54px;
    }
}

@media screen and (min-width: 1920px) {
    .section__title {
        font-size: 79px;
    }
}