.allnews-link {
    font-weight: 700;
    color: white;
    font-size: 12px;
    transition: 0.3s all ease;
}
.allnews-link:hover {
    text-decoration: none;
}

@media screen and (min-width: 760px) and (max-width: 1019px)  {
    .allnews-link {
        font-size: 18px;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1919px)  {
    .allnews-link {
        font-size: 18px;
    }
}

@media screen and (min-width: 1920px) {
    .allnews-link {
        font-size: 18px;
    }
}