.calc-sum__text {
    font-weight: 700;
    font-size: 10px;
    color: white;
    margin: 0 0 2px 0;
}

@media screen and (min-width: 760px) and (max-width: 1019px)  {
    .calc-sum__text {
        font-size: 17px;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1919px)  {
    .calc-sum__text {
        font-size: 17px;
    }
}

@media screen and (min-width: 1920px) {
    .calc-sum__text {
        font-size: 17px;
    }
}