.calc-form-container {
    padding: 30px 18px;
}

@media screen and (min-width: 760px) and (max-width: 1019px)  {
    .calc-form-container {
        padding: 56px 60px 0 40px;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1919px)  {
    .calc-form-container {
        padding: 50px 60px 0 56px;
        display: flex;
    }
}

@media screen and (min-width: 1920px) {
    .calc-form-container {
        padding: 58px 71px 0 71px;
        display: flex;
    }
}