@import url(../vendor/normalize.css);
@import url(../vendor/fonts/opensans.css);




.b-page {
    background-color: grey;
}

.page {
    position: relative;
    font-family: 'Opensans', Arial, sans-serif;
    font-weight: 400;
}

.header {
    background-image: url("../images/header_bg_1.png");
    background-size: cover;
    height: 386px;
    padding: 16px 20px 0px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right__menu-icon {
    margin-left: 16px;
}

.logo {
    margin: auto 0;
}

.slider {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 125px;
}

.slider-buttons {
    position: absolute;
    left: 0px;
    top: 115px;
    padding-left: 20px;
}

.slider-container {
    position: relative;
    padding: 0 20px;
}

.slide {
    position: absolute;
    top: 0px;
    left: 5vw;
    right: 9vw;
    max-width: 320px;
}

.slide-img {
    margin: 0;
    width: 100%;
}

.slider-buttons__btn-left {
    margin: 0 12px 0 12px;
    width: 32px;
    height: 32px;
    background-image: url("../images/arrow_left_yellow.png");
    background-size: 32px 32px;
    border: 0;
    border-radius: 30px;
    transition: 0.3s all ease;
}

.slider-buttons__btn-left:hover {
    cursor: pointer;
    background-image: url("../images/arrow_left_red.png");
}

.slider-buttons__btn-right {
    width: 32px;
    height: 32px;
    background-image: url("../images/arrow_right_yellow.png");
    background-size: 32px 32px;
    margin: 0 12px 0 12px;
    border: 0;
    border-radius: 30px;
    transition: 0.3s all ease;
}

.slide__link {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    background-image: url("../images/slidertext_mask_320.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 30px;
    padding: 10px 0;
    transform: translateY(-144px)
}

.slide__link_semibold {
    font-weight: 700;
}

.slider-buttons__btn-right:hover {
    cursor: pointer;
    background-image: url("../images/arrow_right_red.png");
}


.slider-buttons__btn-img {
    width: 32px;
    height: 32px;
}

.slide-descr {
    position: relative;
    /* top: 262px;
    transform: translateX(-50%); */
    display: inline-flex;
    align-items: center;
    background-color: #e48114;
    left: 50%;
    transform: translate(-50%,-121px);
}

.slide-descr__icon {
    width: 72px;
    height: 72px;
    background-image: url("../images/slider_descr_icon.png");
    background-position: center;
    background-repeat: no-repeat;
}

.slide-descr__text {
    margin: 0;
    font-size: 14px;
    color: white;
    width: 357px;
    word-wrap: normal;
    display: none;
}

.delivery-features {
    background-color: #2f2d38;
}

.features-block {
    margin: 0;
    padding: 98px 0 0 20px;
}

.feature {
    display: flex;
    text-decoration: none;
    padding: 0 0 28px 0;
}

.feature__text {
    font-size: 14px;
    letter-spacing: 0.2px;
    margin: auto auto auto 27px;
    color: white;
}

.description {
    background-color: #2b2933;
    margin: 0;
    padding: 85px 0 640px 0;
}

.description__title {
    /* width: 70vw; */
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #e9574b, #f9a141);    margin: 0;
    padding: 0 20px;
}
.description__text {
    /* width: 70vw; */
    font-weight: 400;
    letter-spacing: 0.2px;
    font-size: 12px;
    line-height: 24px;
	color: white;    
    padding: 0px 20px 0px 20px;
    margin: 24px 0 0 0;
}

.calc {
    height: 700px;
    display: none;
}

.news {
    background-image: url(../images/news_bg.png);
    width: 100%;
    padding-bottom: 50px;
}

.news-header {
    padding: 165px 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.section__title {
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    color: white;
    text-decoration: none;
}

.news-list-controls {
    display: flex;
    align-items:center;
}

.newslist__btn-left {
    margin: 0 8px;
    width: 32px;
    height: 32px;
    background-image: url("../images/arrow_left_white.png");
    background-size: 32px 32px;
    border: 0;
    border-radius: 30px;
    transition: 0.3s all ease;
}

.newslist__btn-left:hover {
    cursor: pointer;
    background-image: url("../images/arrow_left_yellow.png");
}

.newslist__btn-right {
    margin: 0 8px;
    width: 32px;
    height: 32px;
    background-image: url("../images/arrow_right_white.png");
    background-size: 32px 32px;
    border: 0;
    border-radius: 30px;
    transition: 0.3s all ease;
}

.newslist__btn-right:hover {
    cursor: pointer;
    background-image: url("../images/arrow_right_yellow.png");
}



.allnews-link {
    font-weight: 700;
    color: white;
    font-size: 12px;
    padding: 0 0 0 18px;
    transition: 0.3 all ease;
}

.allnews-link:hover {
    text-decoration: none;
}

.news-container {
    margin: 24px 25px 0px 15px;
    padding: 0;
}

.news-item {
    margin: 16px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.newsitem__img {
    width: 100%;
}

.newsitem-content {
    display: flex;
}

.newsitem-content-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50px;
    height: 50px;
    background-color: white;

}

.newsitem-content__num {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    width: 50px;
    text-align: center;
}

.newsitem-content__month {
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 10px;
    width: 50px;
}

.newsitem-content-text {
    margin: 0 0 0 3px;
}

.newsitem-content__title {
    margin:0;
    font-weight: 700;
    font-size: 12px;
    padding: 10px 16px;
    line-height: 20px;
    background-color: white;
    height: 93px;
}



.newsitem-content-more-container {
    margin: 3px auto 0 0;
    padding: 5px 9px;
    display: inline-block;
    background-color: white;
    vertical-align: middle;    
}

.newsitem-content-more__more-icon {
    vertical-align: middle;    
    
}

.newsitem-content-more__link {
    font-weight: 700;
    font-size: 10px;
    line-height: 19px;
    vertical-align: middle;    
}



.callback {
    background-color: #272b31;
    padding: 44px 0 44px 0;
}

.callback-container {
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}

.section__title_margin {
    margin-bottom: 40px;
}

.callback-form__input {
    background-color: #31363f;
    border: 0;
    height: 40px;
    margin-bottom: 18px;
    padding-left: 10px;
}

*::placeholder {
    /* modern browser */
    color: white;
    font-size: 11px;
}

textarea.callback-form__input {
    padding-top: 15px;
    height: 122px;
}

.callback-form__submit {
    color: white;
    background-color: #f9a03e;
    height: 49px;
    border-radius: 30px;
    border: none;
    font-size: 12px;
}

.section__title_contacts {
    color: black;
}

.contacts {
    padding: 45px 0 0 0;
    background-color: white;
}

.contacts-container {
    padding: 0 15px;
    font-size: 12px;
    color: black;
}

.contacts-block:last-of-type {
    margin-bottom: 35px;
}

.contacts-block__title {
    font-weight: 700;
    margin: 24px 0 0 0;
}

.contacts-block__text {
    margin: 18px 0 0 0;
    line-height: 33px;
}

.contacts-block__phone {
    margin: 24px 0 0 0;
}

.contacts-block__phone::before {
    content: 'T:';
}

.contacts-block__email {
    margin: 20px 0 0 0;
}

.contacts__callbtn {
    color: white;
    background-color: #f9a03e;
    height: 49px;
    width: 176px;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    letter-spacing: 1px;
}

.contacts-map {
    width: 100vw;
    height: 240px;
}


.footer {
    padding: 35px 0 0 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 55px 20px;
    margin: 25px 0 0 0;
}

.footer__text {
    margin: 0 0 4px 0;
    color: white;
    font-size: 10px;
}
.footer__link {
    display: flex;
    flex-direction: column;
    margin: 0 0 4px 0;
    color: white;
    font-size: 10px;
    text-decoration: none;
}

.logo_footer {
    margin-left: 20px;
}


