
@media screen and (min-width: 760px) and (max-width: 1019px)  {

}

@media screen and (min-width: 1020px) and (max-width: 1919px)  {
    .footer-leftblock {
        display: flex;
        margin: 0px 97px 0 0;
    }
}

@media screen and (min-width: 1920px) {
    .footer-leftblock {
        display: flex;
        margin: 0px 297px 0 0;
    }
}