.slider-viewport {
    position: absolute;
    left: 20px;
    top: 128px;
    width: calc(100vw - 40px);
    overflow: hidden;
} 

@media screen and (min-width: 720px) and (max-width: 1019px)  {
    .slider-viewport {
        top: 154px;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1919px)  {
    .slider-viewport {
        top: 151px;
    }
}

@media screen and (min-width: 1920px) {
    .slider-viewport {
        top: 118px;
    }
}